# macOS specific files
.DS_Store

# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Optional npm cache directory
.npm

# IDE specific files
.vscode/
.idea/

# Custom ignored files and directories
$RECYCLE.BIN/
.localized
*.pdf
*.numbers
desktop.ini
../.DS_Store
../../$RECYCLE.BIN/
../../.DS_Store
../../.localized
../../*.pdf
../*.numbers
../../Edexpeneven/
../../games/
../../Moonstone Island/
../../Rusty Lake/
../../SI339_GriffithApplication.pdf
../../SMH/
../../The Captive Curse/
../../TheClosingShift/
../../Zoom/
../../umich/
../../jekyll-test-site/
../../test-site-1/
../../snail_game.py